Node-Red Flows/notify_persons_at_home.yaml
[{"id":"ea9473d1936d7c0c","type":"api-call-service","z":"661c5cdc.655c24","name":"Announcement","server":"20cd5cd7.bc5f44","version":5,"debugenabled":false,"domain":"tts","service":"cloud_say","areaId":[],"deviceId":[],"entityId":["media_player.kitchen"],"data":"{\"message\":\"{{message}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":680,"y":80,"wires":[[]]},{"id":"79bda29d2142666a","type":"ha-wait-until","z":"661c5cdc.655c24","name":"","server":"20cd5cd7.bc5f44","version":2,"outputs":1,"entityId":"group.people_home","entityIdFilterType":"exact","property":"state","comparator":"is","value":"home","valueType":"str","timeout":0,"timeoutType":"num","timeoutUnits":"seconds","checkCurrentState":true,"blockInputOverrides":true,"outputProperties":[],"x":375,"y":180,"wires":[["6d712260f98b41b5"]],"l":false},{"id":"6d712260f98b41b5","type":"ha-wait-until","z":"661c5cdc.655c24","name":"","server":"20cd5cd7.bc5f44","version":2,"outputs":1,"entityId":"lock.entrance_door","entityIdFilterType":"exact","property":"state","comparator":"is","value":"unlocked","valueType":"str","timeout":0,"timeoutType":"num","timeoutUnits":"seconds","checkCurrentState":true,"blockInputOverrides":true,"outputProperties":[],"x":435,"y":180,"wires":[["5067b0656672f8ec"]],"l":false},{"id":"5067b0656672f8ec","type":"delay","z":"661c5cdc.655c24","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":495,"y":180,"wires":[["33dc1005a4250fa3"]],"l":false},{"id":"9e07989e44e8d226","type":"change","z":"661c5cdc.655c24","name":"Person Entity to Name","rules":[{"t":"change","p":"payload.entity_id","pt":"msg","from":"person.stein_arne","fromt":"str","to":"mobile_app_sakolaas_mobil","tot":"str"},{"t":"change","p":"payload.entity_id","pt":"msg","from":"person.irene","fromt":"str","to":"mobile_app_irene_mobil","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":445,"y":120,"wires":[["ff74b84dbd83d655"]],"l":false,"info":"Changes the person entity to a simple name\n\nexample: person.joe -> Joe"},{"id":"33dc1005a4250fa3","type":"api-current-state","z":"661c5cdc.655c24","name":"Hjemme?","server":"20cd5cd7.bc5f44","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"group.people_home","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":200,"y":140,"wires":[["952e6dd897f82b2e"],["79bda29d2142666a"]]},{"id":"952e6dd897f82b2e","type":"ha-get-entities","z":"661c5cdc.655c24","name":"","server":"20cd5cd7.bc5f44","version":0,"rules":[{"property":"entity_id","logic":"in_group","value":"group.people_home","valueType":"str"},{"property":"state","logic":"is","value":"home","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":395,"y":120,"wires":[["9e07989e44e8d226"]],"l":false},{"id":"ff74b84dbd83d655","type":"api-call-service","z":"661c5cdc.655c24","name":"Send Notification","server":"20cd5cd7.bc5f44","version":5,"debugenabled":true,"domain":"notify","service":"{{payload.entity_id}}","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"{{title}}\",\"message\":\"{{message}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":140,"wires":[[]]},{"id":"901d6df5047ef8a4","type":"api-current-state","z":"661c5cdc.655c24","name":"Sleep Mode","server":"20cd5cd7.bc5f44","version":3,"outputs":2,"halt_if":"Natt","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.day_mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":430,"y":60,"wires":[[],["ea9473d1936d7c0c"]]},{"id":"c18c0bb59e109d9b","type":"link in","z":"661c5cdc.655c24","name":"To Parent Notify","links":["0c1ae857b99a77a5","94b7e3be6108c198","2eddfb01f61652fe","ac44ed44d4914ce6"],"x":85,"y":140,"wires":[["33dc1005a4250fa3"]]},{"id":"431c028e6ff8c955","type":"comment","z":"661c5cdc.655c24","name":"Varsle de hjemme","info":"","x":150,"y":60,"wires":[]},{"id":"7426235e37756ba4","type":"server-state-changed","z":"661c5cdc.655c24","name":"Klesvask","server":"20cd5cd7.bc5f44","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.notiflight_laundry","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":340,"wires":[["17cfbf09fd2f4732"],[]]},{"id":"0abfcba2e8d70f3a","type":"comment","z":"661c5cdc.655c24","name":"Varselstriggere","info":"","x":140,"y":300,"wires":[]},{"id":"ac44ed44d4914ce6","type":"link out","z":"661c5cdc.655c24","name":"To Parents Notify","mode":"link","links":["8bed7db4c1da69ac","c18c0bb59e109d9b"],"x":515,"y":340,"wires":[]},{"id":"17cfbf09fd2f4732","type":"change","z":"661c5cdc.655c24","name":"Set Message","rules":[{"t":"set","p":"message","pt":"msg","to":"Klesvasken er ferdig","tot":"str"},{"t":"set","p":"title","pt":"msg","to":"Påminnelse","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":340,"wires":[["ac44ed44d4914ce6"]]},{"id":"b5a757f5b5695b5a","type":"server-state-changed","z":"661c5cdc.655c24","name":"Oppvasktabletter","server":"20cd5cd7.bc5f44","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.notify_oppvasktabletter","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":400,"wires":[["cef918be7cf24c4c"],[]]},{"id":"cef918be7cf24c4c","type":"change","z":"661c5cdc.655c24","name":"Set Message","rules":[{"t":"set","p":"message","pt":"msg","to":"Legg oppvasktabletter på handlelisten","tot":"str"},{"t":"set","p":"title","pt":"msg","to":"Varsel","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":400,"wires":[["ac44ed44d4914ce6"]]},{"id":"36358cc24e297c43","type":"server-state-changed","z":"661c5cdc.655c24","name":"Støvsuger","server":"20cd5cd7.bc5f44","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.notiflight_vacuum","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":460,"wires":[["4d938941cf4ae0ba"],[]]},{"id":"4d938941cf4ae0ba","type":"change","z":"661c5cdc.655c24","name":"Set Message","rules":[{"t":"set","p":"message","pt":"msg","to":"Vedlikehold av støvsuger behøves","tot":"str"},{"t":"set","p":"title","pt":"msg","to":"Varsel","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":460,"wires":[["ac44ed44d4914ce6"]]},{"id":"0cc4e69641121ad1","type":"server-state-changed","z":"661c5cdc.655c24","name":"Kjøleskap","server":"20cd5cd7.bc5f44","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.notiflight_fridge","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":520,"wires":[["3de7b8c9e80f9dae"],[]]},{"id":"3de7b8c9e80f9dae","type":"change","z":"661c5cdc.655c24","name":"Set Message","rules":[{"t":"set","p":"message","pt":"msg","to":"Kjøleskapet står åpent!","tot":"str"},{"t":"set","p":"title","pt":"msg","to":"Varsel","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":520,"wires":[["ac44ed44d4914ce6"]]},{"id":"20cd5cd7.bc5f44","type":"server","name":"Home Assistant","version":5,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]
